In [1]:
t=()

In [2]:
type(t)

tuple

In [3]:
l=[]

In [4]:
type(l)

list

In [5]:
t1=(234,34,"monisha",3.45, True)

In [6]:
l1=[234,34,'monisha',3.45,True]

In [7]:
t1[0]

234

In [8]:
t1[1:4] #slicing of the tuple data.

(34, 'monisha', 3.45)

In [9]:
t1[::-1]

(True, 3.45, 'monisha', 34, 234)

In [10]:
l1[0]

234

In [11]:
l1[0]=23

In [12]:
l1[0]

23

In [13]:
l1[0]='karmakar'

In [14]:
l1

['karmakar', 34, 'monisha', 3.45, True]

In [15]:
t2=(23,100,'kkarmkar')

In [16]:
t1+t2

(234, 34, 'monisha', 3.45, True, 23, 100, 'kkarmkar')

In [17]:
t1*4

(234,
 34,
 'monisha',
 3.45,
 True,
 234,
 34,
 'monisha',
 3.45,
 True,
 234,
 34,
 'monisha',
 3.45,
 True,
 234,
 34,
 'monisha',
 3.45,
 True)

In [18]:
t1

(234, 34, 'monisha', 3.45, True)

In [19]:
234 in t1

True

In [20]:
"monisha" in t1

True

In [21]:
t3=(1,2,3,4,5,7,9,44,32,6777,977,97654)

In [22]:
max(t3)

97654

In [23]:
t1.count

In [24]:
t3.index(32)

8

In [25]:
#convert the tuple to list
l2=list(t3)

In [26]:
l2.insert(3,6)

In [27]:
l2

[1, 2, 3, 6, 4, 5, 7, 9, 44, 32, 6777, 977, 97654]

In [28]:
tuple(l2) #convert to tuple.

(1, 2, 3, 6, 4, 5, 7, 9, 44, 32, 6777, 977, 97654)

In [29]:
#nested tuple
t=((3,4,2,4,1),('monisha',95,1999),45,87 , [3,45,65,3,22,2])

In [30]:
t[4]

[3, 45, 65, 3, 22, 2]

In [31]:
t[4][2]

65

In [32]:
t[4][0:3]

[3, 45, 65]

In [33]:
t[1][0]

'monisha'

In [34]:
for i in t:
    if type(i)==tuple:
        print(i[0])

3
monisha

In [35]:
t1

(234, 34, 'monisha', 3.45, True)

In [36]:
t2

(23, 100, 'kkarmkar')

In [37]:
if len(t1)==len(t2):
    print("its same")
else:
    print("not same length")

not same length

In [38]:
T=(234,2,3,4,"Monisha",3.45,9,True,"Karmakar")

In [39]:
i=input('take a user input')

if i in T:
    print("yes available")
else:
    print("not available")

take a user inputmonisha
not available

In [40]:
l1

['karmakar', 34, 'monisha', 3.45, True]

In [41]:
del(l1[4])

In [42]:
l1

['karmakar', 34, 'monisha', 3.45]

In [43]:
l1.pop()

3.45

In [44]:
l1

['karmakar', 34, 'monisha']

In [45]:
l1.append(89)

In [46]:
l1

['karmakar', 34, 'monisha', 89]

In [47]:
#set-  a collection which will always hold distinct value.
x=set()

In [48]:
type(x)

set

In [49]:
l=[34,45,45,45,67,56,78,"moni","moni","moni"]

In [50]:
import numpy as np
import pandas as pd

In [51]:
s= set(l) #duplicate are remove

In [52]:
s

{34, 45, 56, 67, 78, 'moni'}

In [53]:
32 in x

False

In [54]:
for i in s:
    print(i)

34
67
moni
45
78
56

In [55]:
s =set()

In [56]:
s

set()

In [57]:
s.add(9)

In [58]:
s.add(10)

In [59]:
s

{9, 10}

In [60]:
s.add('monisha')

In [61]:
s.add('karmkar')

In [62]:
s.add(34)

In [63]:
s.add(2)

In [64]:
s

{10, 2, 34, 9, 'karmkar', 'monisha'}

In [65]:
s.remove(9)

In [66]:
s

{10, 2, 34, 'karmkar', 'monisha'}

In [67]:
s[0]

TypeError: 'set' object is not subscriptable

In [68]:
s[0:2]

TypeError: 'set' object is not subscriptable

In [69]:
t4=tuple(s)

In [70]:
t4

(34, 2, 10, 'karmkar', 'monisha')

In [ ]:
set(t4)

In [71]:
set(l)

{34, 45, 56, 67, 78, 'moni'}

In [72]:
l1=list(t4)

In [73]:
l1[0]

34

In [74]:
l1[0:4]

[34, 2, 10, 'karmkar']

In [75]:
x1= set(l1)

In [76]:
l1

[34, 2, 10, 'karmkar', 'monisha']

In [77]:
type(x1)

set

In [78]:
#dictonary
x={}

In [79]:
type(x)

dict

In [80]:
x1={34,56}

In [81]:
type(x1)

set

In [82]:
x1={'name':'monisha','age':'25','n':'karmakar','value':{1,67,45,35},'key':4566,'a':(34,56,78),'b':'ruby'}

In [83]:
x1

{'name': 'monisha',
 'age': '25',
 'n': 'karmakar',
 'value': {1, 35, 45, 67},
 'key': 4566,
 'a': (34, 56, 78),
 'b': 'ruby'}

In [84]:
x1['value']

{1, 35, 45, 67}

In [85]:
 x2=list(x1)

In [86]:
x2

['name', 'age', 'n', 'value', 'key', 'a', 'b']

In [87]:
type(x2)

list

In [88]:
type(x1)

dict

In [89]:
x1

{'name': 'monisha',
 'age': '25',
 'n': 'karmakar',
 'value': {1, 35, 45, 67},
 'key': 4566,
 'a': (34, 56, 78),
 'b': 'ruby'}

In [90]:
x1["a"]

(34, 56, 78)

In [91]:
x1['a'][2]

78

In [92]:
for i in x1.keys():
    print(type(x1[i]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'set'>
<class 'int'>
<class 'tuple'>
<class 'str'>

In [93]:
x1.items()

dict_items([('name', 'monisha'), ('age', '25'), ('n', 'karmakar'), ('value', {1, 67, 45, 35}), ('key', 4566), ('a', (34, 56, 78)), ('b', 'ruby')])

In [94]:
for i in x1.items():
    print(i[0])

name
age
n
value
key
a
b

In [98]:
p=str(input("kindly give a paragragh  "))

kindly give a paragragh  A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.

In [99]:
def convert(p): 
    return ([i for item in p for i in item.split()]) 
print( convert(p))

['A', 'p', 'a', 'r', 'a', 'g', 'r', 'a', 'p', 'h', 'i', 's', 'a', 's', 'e', 'r', 'i', 'e', 's', 'o', 'f', 'r', 'e', 'l', 'a', 't', 'e', 'd', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e', 's', 'd', 'e', 'v', 'e', 'l', 'o', 'p', 'i', 'n', 'g', 'a', 'c', 'e', 'n', 't', 'r', 'a', 'l', 'i', 'd', 'e', 'a', ',', 'c', 'a', 'l', 'l', 'e', 'd', 't', 'h', 'e', 't', 'o', 'p', 'i', 'c', '.', 'T', 'r', 'y', 't', 'o', 't', 'h', 'i', 'n', 'k', 'a', 'b', 'o', 'u', 't', 'p', 'a', 'r', 'a', 'g', 'r', 'a', 'p', 'h', 's', 'i', 'n', 't', 'e', 'r', 'm', 's', 'o', 'f', 't', 'h', 'e', 'm', 'a', 't', 'i', 'c', 'u', 'n', 'i', 't', 'y', ':', 'a', 'p', 'a', 'r', 'a', 'g', 'r', 'a', 'p', 'h', 'i', 's', 'a', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e', 'o', 'r', 'a', 'g', 'r', 'o', 'u', 'p', 'o', 'f', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e', 's', 't', 'h', 'a', 't', 's', 'u', 'p', 'p', 'o', 'r', 't', 's', 'o', 'n', 'e', 'c', 'e', 'n', 't', 'r', 'a', 'l', ',', 'u', 'n', 'i', 'f', 'i', 'e', 'd', 'i', 'd', 'e', 'a', '.', 'P', 'a', 'r', 'a', 'g', 'r', 'a', 'p', 'h', 's', 'a', 'd', 'd', 'o', 'n', 'e', 'i', 'd', 'e', 'a', 'a', 't', 'a', 't', 'i', 'm', 'e', 't', 'o', 'y', 'o', 'u', 'r', 'b', 'r', 'o', 'a', 'd', 'e', 'r', 'a', 'r', 'g', 'u', 'm', 'e', 'n', 't', '.']

In [ ]:
def convert(lst): 
    return ([i for item in lst for i in item.split()]) 
      
# Driver code 
lst = input("kindly provide paragraph  ") 
print( convert(lst))

In [102]:
def convert(lst): 
    return ' '.join(lst).split() 
      
  
# Driver code 
lst = input("provide input statement ") 
print( convert(lst))

provide input statement A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument
['A', 'p', 'a', 'r', 'a', 'g', 'r', 'a', 'p', 'h', 'i', 's', 'a', 's', 'e', 'r', 'i', 'e', 's', 'o', 'f', 'r', 'e', 'l', 'a', 't', 'e', 'd', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e', 's', 'd', 'e', 'v', 'e', 'l', 'o', 'p', 'i', 'n', 'g', 'a', 'c', 'e', 'n', 't', 'r', 'a', 'l', 'i', 'd', 'e', 'a', ',', 'c', 'a', 'l', 'l', 'e', 'd', 't', 'h', 'e', 't', 'o', 'p', 'i', 'c', '.', 'T', 'r', 'y', 't', 'o', 't', 'h', 'i', 'n', 'k', 'a', 'b', 'o', 'u', 't', 'p', 'a', 'r', 'a', 'g', 'r', 'a', 'p', 'h', 's', 'i', 'n', 't', 'e', 'r', 'm', 's', 'o', 'f', 't', 'h', 'e', 'm', 'a', 't', 'i', 'c', 'u', 'n', 'i', 't', 'y', ':', 'a', 'p', 'a', 'r', 'a', 'g', 'r', 'a', 'p', 'h', 'i', 's', 'a', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e', 'o', 'r', 'a', 'g', 'r', 'o', 'u', 'p', 'o', 'f', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e', 's', 't', 'h', 'a', 't', 's', 'u', 'p', 'p', 'o', 'r', 't', 's', 'o', 'n', 'e', 'c', 'e', 'n', 't', 'r', 'a', 'l', ',', 'u', 'n', 'i', 'f', 'i', 'e', 'd', 'i', 'd', 'e', 'a', '.', 'P', 'a', 'r', 'a', 'g', 'r', 'a', 'p', 'h', 's', 'a', 'd', 'd', 'o', 'n', 'e', 'i', 'd', 'e', 'a', 'a', 't', 'a', 't', 'i', 'm', 'e', 't', 'o', 'y', 'o', 'u', 'r', 'b', 'r', 'o', 'a', 'd', 'e', 'r', 'a', 'r', 'g', 'u', 'm', 'e', 'n', 't']

In [107]:
P=input("Enter a pargraph")
List=P.split()
print(List)
print(  )
Distinct=set(List)
print("the distinct key are",Distinct)
Dict={}
for i in Distinct:
   Dict[i]=List.count(i)

tuple(Dict.values())
list(Dict.keys())

Enter a pargraphA paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument
['A', 'paragraph', 'is', 'a', 'series', 'of', 'related', 'sentences', 'developing', 'a', 'central', 'idea,', 'called', 'the', 'topic.', 'Try', 'to', 'think', 'about', 'paragraphs', 'in', 'terms', 'of', 'thematic', 'unity:', 'a', 'paragraph', 'is', 'a', 'sentence', 'or', 'a', 'group', 'of', 'sentences', 'that', 'supports', 'one', 'central,', 'unified', 'idea.', 'Paragraphs', 'add', 'one', 'idea', 'at', 'a', 'time', 'to', 'your', 'broader', 'argument']

the distinct key are {'called', 'one', 'unity:', 'or', 'that', 'unified', 'Paragraphs', 'A', 'idea', 'at', 'argument', 'related', 'topic.', 'the', 'think', 'is', 'sentences', 'to', 'of', 'add', 'terms', 'your', 'about', 'time', 'idea,', 'series', 'group', 'paragraph', 'broader', 'a', 'sentence', 'central,', 'idea.', 'supports', 'Try', 'central', 'in', 'thematic', 'paragraphs', 'developing'}

['called',
 'one',
 'unity:',
 'or',
 'that',
 'unified',
 'Paragraphs',
 'A',
 'idea',
 'at',
 'argument',
 'related',
 'topic.',
 'the',
 'think',
 'is',
 'sentences',
 'to',
 'of',
 'add',
 'terms',
 'your',
 'about',
 'time',
 'idea,',
 'series',
 'group',
 'paragraph',
 'broader',
 'a',
 'sentence',
 'central,',
 'idea.',
 'supports',
 'Try',
 'central',
 'in',
 'thematic',
 'paragraphs',
 'developing']

In [109]:
paragph = input("Enter the para: ")
lst1=paragph.split(" ")
s1=set(lst1)
dic1=dict.fromkeys(s1,'db')
t1=tuple(dic1.values())
l2=list(dic1.keys())

Enter the para: my name is monisha karmaankarb jkaueb  jfajkdfmjeb hhfjkd

In [112]:
dic1

{'': 'db',
 'jfajkdfmjeb': 'db',
 'jkaueb': 'db',
 'karmaankarb': 'db',
 'is': 'db',
 'my': 'db',
 'name': 'db',
 'hhfjkd': 'db',
 'monisha': 'db'}

In [113]:
lst1

t1

('db', 'db', 'db', 'db', 'db', 'db', 'db', 'db', 'db')

In [111]:
s1

{'',
 'hhfjkd',
 'is',
 'jfajkdfmjeb',
 'jkaueb',
 'karmaankarb',
 'monisha',
 'my',
 'name'}