In [1]:
print("This is my first python programming")

This is my first python programming

In [3]:
# Comment line that is used to mention the instrution without being executed.

In [8]:
# for multiple line of comment we use triple cote in the beginning and end of the statement.
'''Hi 
 this is the 1st line.
let me write the 2nd line.
ok here is the third line'''

'Hi \n this is the 1st line.\nlet me write the 2nd line.\nok here is the third line'

In [11]:
#variable
#when we restart the programming or computer we need to re install the variable, hence variable is a temporary storage.
a=10

In [12]:
a

10

In [13]:
#type()- inbuilt function to check our datatype. 
type(a)

int

In [17]:
b='monisha' #whatever is enclosed in single or double quote is a string variable.

In [18]:
b

'monisha'

In [19]:
type(b)

str

In [20]:
print(a, b, 'random value')

10 monisha random value

In [22]:
a,b #here we get the output as a tuple.

(10, 'monisha')

In [23]:
 x,y,z= 45,'monisha','this is multiple line coding'

In [24]:
print(x,y,z)

45 monisha this is multiple line coding

In [25]:
# Rule For naming variable
#1. should start with alphabet or underscore. not with interger or special character

In [26]:
name= "monisha"
userId= 20463.543
password = 'monisha'
mail='monisha@gmail.com'
married= False

In [27]:
type(name)

str

In [28]:
type(userId)

float

In [29]:
type(married)

bool

In [30]:
True + True + True + False + True
#True=1
#False=0

4

In [31]:
False - True + True

0

In [33]:
type(True)

bool

In [34]:
True / False

ZeroDivisionError: division by zero

In [35]:
#datatype- int, float(by default takes more space than int,called upcasting), bool, str, complex no.

In [36]:
n = 45+ 6j

In [37]:
type(n)

complex

In [38]:
n

(45+6j)

In [40]:
n.real

45.0

In [41]:
n.imag

6.0

In [42]:
m = 56+25j

In [44]:
o= n*m

In [45]:
o

(2370+1461j)

In [47]:
 "monisha"+'karmakar' #homogeneous data type =similar datatype can perform addition operation

'monishakarmakar'

In [49]:
#TypeCasting, We can convert hetrogeneous datatype into a required datatype


str(1)+'moni'

'1moni'

In [50]:
"moni" + 'moni' +'moni' #concatination operation

'monimonimoni'

In [51]:
'moni'*3

'monimonimoni'

In [57]:
#input()- core function present in python for input of value
a= int(input('Enter an interger '))

Enter an interger 99

In [56]:
type(a)

int

In [1]:
#Q1. Take three interger variable name a,b,c input from user.
#Q2. perform op=(a+b)/c
#Q3. op + complex no.
#Q4. Concate with name

a = int(input("Enter an interger value ")) 
b = int(input("Enter an integer value  "))
c = int(input("Enter the third integer value "))

op= (a+b)/c
print("The output of the variable is ", op)

com = 45 +6j

op1= op+com
#str(op1)+ "Monisha"
print(op1, "Monisha")

Enter an interger value 8
Enter an integer value  4
Enter the third integer value 2
The output of the variable is  6.0
(51+6j) Monisha

In [8]:
#Decision Making Statement or Conditional Statement.
a = int(input("Enter the data "))
if a> 34 and a< 100:
    print("good to go")

else:
    print("Entered data is less than 34")

Enter the data 2
Entered data is less than 34

In [12]:
salary = int(input("Enter monthly Salary "))
expense = int(input("Enter monthly expense "))
saving = salary-expense

if saving > 10000:
    print("Can buy vehicle")
elif saving < 10000 and saving > 6000:
    print("Should rent vehicle")
elif saving < 6000 and saving >2000:
    print("should think of making more money")
else:
    print("Keep for emergency requirement")

Enter monthly Salary 40000
Enter monthly expense 30001
Should rent vehicle